@import url('https://fonts.googleapis.com/css2?family=Inder&family=Poppins:wght@300;500;700;900&family=Quicksand&family=Sofia&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: white;
    overflow-x: hidden;
    position: relative;
}

.title{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1617478755490-e21232a5eeaf?crop=entropy&cs=&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzU1NjM5NA&ixlib=rb-1.2.1&q=75&w=1920");
    background-size: 100% 150%;
    background-position: 100% 0%;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.371);
    position: relative;
    z-index: 3;
}

.title h1{
    display: flex;
    font-size: 5rem;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 300;
    background-image: linear-gradient(90deg, #576D86,
    #70A1C1,
    #9B9EAA,
    #5FB5CC,
    #5D5C61,
    #3F9CD2
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    animation: left-right 5s linear infinite;
}

.icon{
    position: absolute;
    top: 100%;
    left: 50%;
    bottom: -30%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.icon i{
    color: #fff;
    animation: up-down 1s linear infinite alternate;
}

@keyframes up-down {
    0% {
        translate: 0% 0%;
    }
    100% {
        translate: 0% 25%;
    }
}

.name{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-size: 100% 150%;
    background-position: 100% 50%;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.4);
    z-index:2;
    position: relative;
}

.name h1{
    background-image: linear-gradient(90deg, #87CEEB, #FFFFFF, #3E3E3E, #6c7d6c, #a081a5
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 4rem;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 300;
    text-align: center;
    animation: left-right 5s linear infinite;
}

@keyframes left-right {
    0% {
        background-position: 200% center;
    }
    100% {
        background-position: 0% center;
    }
}

.question1{
    background: url('img.jpeg');
    width: 100vw;
    height: 100vh;
    background-size: 100% 150%;
    background-position: 100% 60%;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative;
}

.question1 div h1{
    background-image: linear-gradient(90deg, #9b57a3, #FFFFFF, #3E3E3E, #a081a5
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 4rem;
    color: transparent;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 300;
    text-align: center;
    animation: left-right 5s linear infinite;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .title{
        aspect-ratio: 0.5;
    }
    .name{
        aspect-ratio: 0.5;
    }
    .question1{
        aspect-ratio: 0.5;
    }
}

.quest{
    width: 20vw;
    height: 20vw;
    outline: 5px solid #fff;
    box-shadow: 2px 2px 10px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(245, 222, 179, 0.173);
    transition: 2s ease-in-out;
    display: grid;
    place-items: center;
    font-size: 5rem;
}


.quest:nth-child(1){
    rotate: -5deg;
}

.quest:nth-child(2){
    rotate: -1.5deg;
}

.quest:nth-child(3){
    rotate: 1.5deg;
}

.quest:nth-child(4){
    rotate: 5deg;
}

.i2{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.i2 i{
    font-size: 80px;
    color: #fff;
    rotate: 180deg;
    animation: up-down 1s linear infinite alternate;
}

/* .quest:nth-child(1):hover{
    rotate:5deg;
    translate: -20vw 20vh;
}

.quest:nth-child(2):hover{
    rotate: -5deg;
    translate: 20vw 20vh;
}

.quest:nth-child(3):hover{
    rotate: 5deg;
    translate: -20vw -20vh;
}

.quest:nth-child(4):hover{
    rotate: -5deg;
    translate: 20vw -20vh;
} */

.answ{
    width: calc(100vw);
    height: calc(100vw);
    background-color: white;
    padding: 1in;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    z-index: 4;
    overflow: scroll;
    position: relative;
}

.answ *{
    line-height: 200%;
    margin-bottom: 15px;
}

.answ h3{
    text-align: center;
    font-size: 12pt;
    font-weight: 600;
}

.answ p{
    line-height: 200%;
    text-indent: 1.3cm;
}

.answ pre{
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 10px;
    background: gray;
    overflow: scroll;
    max-height: 40vh;
}

.answ pre.out{
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    color: pink;
    padding: 10px;
    background: gray;
}

.answ ul{
    list-style-type: lower-alpha;
}

.answ div.img{
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    place-items: center;
    overflow: scroll;
}

.answ div.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.answ .plot{
    width: 100%;
    height: 50%;
    position: relative;
    display: grid;
    place-items: center;
}

.plot img{
    width: 80%;
    aspect-ratio: 1/1;
}

.close{
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: black;
    cursor: pointer;
    z-index: 100000;
}

.close2{
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    color: black;
    cursor: pointer;
    z-index: 100000;
}

.answer1{
    display: none;
}

.answer2{
    display: none;
}

.answer3{
    display: none;
}

.answer4{
    display: none;
}

